<div class="row">
  <div class="my-4">
    <a routerLink="/create-diary">
      <button type="submit" class="btn btn-primary">Создать блог</button>
    </a>
  </div>
</div>
<div class="row">
  <div class="d-flex flex-column justify-content-start dashboard">
    <div *ngFor="let d of diary" routerLink="/diary" [queryParams]="{id: d.id}">
      <div class="col-12 card d-flex flex-row">
        <div class="card-avatar d-flex flex-column justify-content-start">
          <div class="nickname nickname-author">

            <b>{{d.user.name}}</b>

            <p *ngIf="d?.user?.statuses.length === 0" class="status">
              Блогер
            </p>
            <ng-template *ngFor="let s of d.user.statuses">
              <p class="status">
                {{s.name}}
              </p>
            </ng-template>

          </div>
          <img *ngIf="!d.user.avatar" class="avatar"
               src="http://ufland.moy.su/camera_a.gif">
          <img *ngIf="d.user.avatar" class="avatar"
               [src]="d.user.avatar">
        </div>

        <div class="card-body">
          <h5 class="card-title">{{d.name}}</h5>
          <p class="card-text">{{d.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4">
  <nav aria-label="...">
    <ul class="pagination d-flex justify-content-end pagination-sm">
      <ng-template [ngIf]="cPage - 1 >= 1">
        <a style="cursor: pointer" (click)="go(cPage-1)">
          <li class="page-item" aria-current="page">
            <span class="page-link">prev</span>
          </li>
        </a>
      </ng-template>
      <li class="page-item mx-2 active" aria-current="page">
        <span class="page-link">{{cPage}}</span>
      </li>
      <ng-template [ngIf]="cPage + 1 <= page">
        <a style="cursor: pointer" (click)="go(cPage+1)">
          <li class="page-item" aria-current="page">
            <span class="page-link">next</span>
          </li>
        </a>
      </ng-template>
    </ul>
  </nav>
</div>
